.menu_item_list_option{position:relative;display:flex;flex-wrap: wrap;width:100%;}

.items_list_views{position:relative;display:flex;background:#fff;border-radius:8px;box-shadow:0 1px 2px rgb(0 0 0 / 20%);flex-wrap:wrap;justify-content: center;align-items: center;width:calc(25% - 5px);margin:8px;}
.boxpictureliststb{display:flex; justify-content: center;}
.boxpictureliststb picture{position:relative;display:flex;height:250px;width:100%;max-width:250px;}
.boxpictureliststimg{object-fit:cover;width:100%;height:100%;border-radius:5px;}
.opciones_items{display:block;width:100%;padding:17px;}
.left_text_view{word-break: break-all;}
.title_item_view_list{color:#555;}
.price_view_items_price{
	display: block;
	font-size:22px;
	padding:5px;
	color:#333;
	margin-top:10px;
}
@media only screen and (max-width:1200px){
	.items_list_views {
	    width: calc(33.3333333% - 10px);
	}
}

@media only screen and (max-width:850px){
	.items_list_views {
	    width: calc(50% - 16px);
	    margin: 8px;
	}
}

@media only screen and (max-width: 580px){
	.items_list_views{
	    width: calc(100% - 20px);
	    margin: 10px;
	}
}
@media only screen and (max-width:340px){
	.items_list_views {
	    width: calc(100%);
	    margin: 7px auto;
	}
}

@media only screen and (max-width:300px){
	.items_list_views {
		display: block;
	    width: 100%!important;
	    margin: 7px auto;
	}
}
