.conten_items_view{display:flex;flex-wrap:wrap;margin-bottom:40px;margin-top:35px;}
.conten_image_item_view{width:65%;background-color:#fff;position:relative;display:flex;justify-content:center;align-items:center;}
.conten_image_item_view picture{display:block;margin:0 auto;position:relative;width:100%;height:100%;max-width:800px;max-height:500px;box-sizing:border-box;}
.conten_image_item_view picture .boxpictureliststimg_view{display:block;width:100%;height:100%;max-width:800px;max-height:500px;object-fit:contain;}
.tum_page_image_items{z-index:1; width:100%;text-align:center;position:absolute;bottom:0;box-sizing:border-box;}
.boxpictureliststimg_thum_ind{display:inline-block;height:50px;width:50px;object-fit:contain;border-radius:5px;cursor:pointer;transition:all 0.5s;border:1px solid #ddd;margin:4px;}
.boxpictureliststimg_thum_ind:hover{opacity:0.9;}
.boxpictureliststimg_thum_ind:active{opacity:0.7;}
.description_list_item_current{width:35%;padding:20px;background-color:#fff;display:block;margin:0 auto}
.title_item_list_current{margin:0 auto;font-size:24px;line-height:26px;margin-bottom:10px;font-weight:100;}
.price_list_item_curr{font-size:20px;line-height:26px;font-weight:bold;}
.button_order_item_list_view{display:flex;justify-content:center;align-content:center;align-items:center;padding:7px 15px;color:var(--color_a);cursor:pointer;transition:all 0.5s;outline:none;border:2px solid var(--color_primario);background-color:var(--color_segundario);}
.button_order_item_list_view:hover{background-color:var(--color_primario);color:var(--color_b);}
.button_order_item_list_view:active{background-color:var(--color_primario);color:var(--color_b);opacity:0.9;}
.carrito_bt_item_page{width:30px;margin-left:7px;fill:var(--color_a);}
.title_options_customs_order{font-weight:500;color:#000;display:block;}
.description_list_item_current ul{list-style:none;padding-left:0;margin: 0 0 10px 0;}
.description_list_item_current ul li{padding:7px;padding-left:7px;}
.description_list_item_current ul li label{cursor:pointer;color:#777;margin-bottom:0px;margin-left:10px;}


.item_description_data{width:100%;padding:10px;font-size:13px;line-height:1.8!important;color:rgba(0,47,52,.9);word-wrap:break-word}
.item_description_data hr{background-image:initial;border:0px;border-top:1px solid #ccc;margin: 11px 0;}


@media only screen and (max-width: 920px){
.conten_items_view{display:block;width:100%;}
.conten_image_item_view{width:100%;}
.description_list_item_current{width:100%;}
.buutons_conten_page_view_items{display:flex;justify-content:flex-end;align-items:flex-end;}
}
@media only screen and (max-width: 550px){
.boxpictureliststimg_thum_ind{display:none;}
}
.buttons_controls_images{position:absolute;height:100%;width:100%;background-color:transparent;display:flex;flex-wrap:wrap;justify-content:center;align-items:center;}
.buttons_controls_images .control_img_iten{width:50%;}
.cont_pag_r{display:flex;text-align:right;height:100%;justify-content:center;justify-content:flex-end;}
.cont_pag_r span{display:flex;justify-content:center;align-items:center;}
.cont_pag_r span span{display:flex;height:40px;cursor:pointer;width:30px;fill:var(--color_a);background-color:rgba(0,0,0,0.3);padding:5px;}
.cont_pag_l{display:flex;text-align:left;height:100%;justify-content:center;justify-content:flex-start;}
.cont_pag_l span{display:flex;justify-content:center;align-items:center;}
.cont_pag_l span span{display:flex;height:40px;cursor:pointer;width:30px;fill:var(--color_a);background-color:rgba(0,0,0,0.3);padding:5px;}
